################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/msx-link/v16/.suo
/src/.vs/msx-link/v16/Browse.VC.opendb
/src/.vs/msx-link/v16/Browse.VC.db-wal
/src/.vs/msx-link/v16/Browse.VC.db-shm
/src/.vs/msx-link/v16/Browse.VC.db
*.ipch
*.obj
*.log
*.recipe
*.iobj
*.ipdb
*.pch
*.pdb
*.tlog
/src/x64/Release/msx-link.vcxproj.FileListAbsolute.txt
/src/x64/Debug/msx-link.ilk
/src/x64/Debug/msx-link.vcxproj.FileListAbsolute.txt
/src/DDT.COM
/src/KVALLEY.BIN
/src/x64/Debug/msxnet.exe
/1.txt
*.COM
/memory.ram
*.exe
*.ram
/src/1.txt
/SendCrc/x64/Debug
/spy_bootstrap.bin
